/* body {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-top: 20px;
  }
  
  #game-container {
    margin-top: 50px;
  }
  
  #game-container button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #game-container button:hover {
    background-color: #45a049;
  }
  
  #results {
    margin-top: 20px;
    font-size: 18px;
  }
  
  #scoreboard {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  #play-again-button {
    margin-top: 20px;
    display: none;
  } */

  body {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-top: 20px;
  }
  
  #game-container {
    margin-top: 50px;
  }
  
  #game-container button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #game-container button:hover {
    background-color: #45a049;
  }
  
  #results {
    margin-top: 20px;
    font-size: 18px;
  }
  
  #scoreboard {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  #play-again-button {
    margin-top: 20px;
    display: none;
  }
  